<main>
    <section id="js-box-section">
        <article id="js-article" class="archive-data">

            
            <% if(posts.length>0){%>
            <div class="archive">
                <% posts.forEach(function (post,index) { %>
                    <div class="timeline-item" date-is='<%= post.created_at %>'>
                        <h1 class="time-h1"><a href="/posts/<%= post._id %>"><%= post.title %></a></h1>
                        <p class="time-p">
                            阅读次数(<%= post.pv %>) 评论(<%= post.commentsCount %>)
                        </p>
                    </div>
                    
                <% }); %>
                
            </div>
            <% }else{%>
                <div class="alert">
                    <p>朋友，您还没写文章呢，哪里来的归档啊~</p>
                </div>
            <% }%>
        </article>
        <%- include('page') %> 
    </section>
</main>