<div class="n-box box-shadow clearfix">
    <% if (post.img){%>
        <div class="n-top"><img src="/img/img_default.png" data-url="<%= post.img %>" alt=""></div>
    <% }%>
    <div class="n-tab overflow-ellipse"><a title="<%= post.tab %>"><%= post.tab %></a></div>
    <div class="n-date"><%= post.date %></div>
    <div class="n-title"><%= post.title %></div>
    <div class="n-content">
        <%- post.content %></div>
        
    <div class="n-tab-smaller">
        阅读次数(<%= post.pv %>)&nbsp;&nbsp;&nbsp;<a href="/personal/info?author=<%= post.author._id %>"><%= post.author.nickname %>(<%= post.author.name %>)<img class="avatar-xs" src="/img/upload/<%=post.author.avatar%>"> </a>
    </div>
    <div class="n-read"><a href="/posts/<%= post._id %>" class="underline">阅读全文</a></div>
</div>