<ul>

    <% for(var i=0; i<nav.length; i++){ %>
        <% if(nav[i].display && !nav[i].inMore) {%>
         <li><a 
           
            <%if(nav[i].href){%>
                href="<%= nav[i].href%>"
            <%}%> 
            class="underline 
                <%if(nav[i].selected){%>
                    selected
                <%}%> 
                <%if(nav[i].addClass){%>
                    <%= nav[i].addClass%>
                <%}%> 
            "
            ><%= nav[i].value%>
         </a></li>
         <% } %>
    <% }%>
    <% if(user) {%>
    <!--<li><a href="/personal" class="underline"><%=user.nickname%></a></li>-->
    <!-- <li><a class="underline" href="/signout" id="js-signout">注销</a></li> -->
    <%- include('nav_more')%>
    <% }%>
</ul>