<%- include('components/head') %>

    <header class="header-bg about-header" id="js-header" >
        <h1 class="ab-title">关于</h1>
            <a href="/">
            <div class="logo-b logo-b-positon">
                 
            </div></a>
            <div class="semi-title">-&nbsp;&nbsp;Hello World&nbsp;&nbsp;-</div>  
            <div class="logo">
            <%- include('components/logo') %>
            </div>
        <nav class="nav">
            <%- include('components/nav') %>
        </nav>
        <div class="burger" id="js-burger"></div>
        <aside class="nav-aside" id="js-nav-aside">
            <%- include('components/nav_other') %>
            <div class="nav-aside-copyright">
                <span>
                    <%- include('components/logo') %>
                    </span><br/> Designed &amp; Developed by Beau. 
            </div>
        </aside>
    </header>
    <nav class="default-nav default-move-nav" id="js-default-nav">
        <div class="logo-c logo-default-nav logo-c-default-nav" id="js-logo-c"></div>
        <div class="default-nav-horizon">
            <div class="logo-d logo-default-nav"></div>   
            <div class="phone-nav-title"><%-include('components/logo')%></div>
            <div class="phone-nav-burger phone-nav-burger-bg" id="js-phone-nav-burger">
                <span>X</span>
            </div>

            <%- include('components/nav') %>
        </div>
        <div class="fullscreen-default" id="js-fullscreen">
            <%- include('components/nav_other') %>
        </div>
    </nav>

    <%- include('components/notification') %>