<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width
        ,initial-scale=1.0
        ,minimum-scale=1.0
        ,maximum-scale=1.0
        ,user-scalable=no">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/nblog.css">
    <link rel="stylesheet" href="/css/themePurple.css">
    <style>

    </style>
</head>

<body>
    <header>
        <a href="http://www.bx1987.com" target="blank"><div class="logo">
            <%- include('components/logo') %>
            </div></a>
        <nav class="nav">
            <%- include('components/nav') %>
        </nav>
        <div class="burger" id="js-burger"></div>
        <aside class="nav-aside" id="js-nav-aside">
            <%- include('components/nav') %>
            <div class="nav-aside-copyright">
                <span>
                    <%- include('components/logo') %>
                    </span><br/> Designed &amp; Developed by Beau. 
            </div>
        </aside>
        
    </header>
    <%- include('components/notification') %>