<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width
        ,initial-scale=1.0
        ,minimum-scale=1.0
        ,maximum-scale=1.0
        ,user-scalable=no">
    <title><%= blog.title %></title>
    <meta name="keywords" content="鲍旭, 广州, 牧马人, Beau, 北大, 网易游戏, 哈工大, Blog, 博客, 互联网, 个人博客, 博客系统, 个人网站, web前端, 技巧, 酷站, 前端开发, JavaScript, css, html"/>
    <meta name="description" content="鲍旭(Beau旭-牧马人)的个人博客，鲍旭(Beau旭-牧马人)的技术作品，鲍旭(Beau旭-牧马人)的生活成长,分享优秀实用的软件、新奇有趣的网站，关注前端开发技术。"/>
    <link rel="apple-touch-icon" href="/img/touchicon.png"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/nblog.css">
    <link rel="stylesheet" href="/css/themePurple.css">
    <link rel="stylesheet" href="/css/markdown5.css">
    <link rel="stylesheet" href="/css/prism.css" />
    <style>

    </style>
</head>

<body class="body">
    <header class="header-bg " id="js-header" style="

    <%if(!!authorTopimg){%>
      background:
        linear-gradient(to top,rgba(0,0,0,.4) 0, rgba(0,0,0,.4) 50px,hsla(0,0%,100%,0) 0),
        url('<%=authorTopimg%>') center/cover no-repeat;  
    <%}else if(user){%>

    background:
        linear-gradient(to top,rgba(0,0,0,.4) 0, rgba(0,0,0,.4) 50px,hsla(0,0%,100%,0) 0),
        url('<%=user.topimg%>') center/cover no-repeat;
    <%}%>


    ">
        <%if(authorAvatar){%>
        <a href="/personal/info?author=<%=authorId%>" class="header-avatar"><img id="js-header-avatar" class="avatar-s avatar-header-mobile" src="/img/upload/<%=authorAvatar%>"></a>
        <%}else if(user){%>
        <a href="/personal/info" class="header-avatar"><img id="js-header-avatar" class="avatar-s avatar-header-mobile" src="/img/upload/<%=user.avatar%>"></a>
        <%}%>
            <a href="/">
            <div class="logo-b logo-b-positon">
                 
            </div></a>
            <div class="semi-title">-&nbsp;&nbsp;Hello World&nbsp;&nbsp;-</div>  
            <div class="logo <%if(user||authorAvatar){%>logo-new<%}%>">
            <%- include('components/logo') %>
            </div>
        <nav class="nav">
            <%- include('components/nav') %>
        </nav>
        <div class="burger" id="js-burger"></div>
        <aside class="nav-aside" id="js-nav-aside">
            <%- include('components/nav_other') %>
            <div class="nav-aside-copyright">
                <span>
                    <%- include('components/logo') %>
                    </span><br/> Designed &amp; Developed by Beau. 
            </div>
        </aside>
    </header>
    <nav class="default-nav default-move-nav" id="js-default-nav">
        <div class="logo-c logo-default-nav logo-c-default-nav" id="js-logo-c"></div>
        <div class="default-nav-horizon">
            <div class="logo-d logo-default-nav"></div>   
            <div class="phone-nav-title"><%-include('components/logo')%></div>
            <div class="phone-nav-burger phone-nav-burger-bg" id="js-phone-nav-burger">
                <span>X</span>
            </div>

            <%- include('components/nav') %>
        </div>
        <div class="fullscreen-default" id="js-fullscreen">
            <%- include('components/nav_other') %>
        </div>
    </nav>

    <%- include('components/notification') %>