<%- include('header') %>
    <main>
        <section id="js-box-section">
            <article id="js-article">
                <div class="n-box box-shadow">
                    
                    <div class="n-tab overflow-ellipse"><a title="">个人资料</a></div>
                    
                    <div class="">昵称：<%=user.nickname%></div>
                    <div class="">邮箱：<%=user.nickname%></div>
                    <div class="">个人简介：<%=user.nickname%></div>
                    <div class=""><a class="button ft16"  >查看他的文章</a></div>
                    

                </div>
            </article>
            
        </section>
    </main>
<%- include('footer') %>